

<form method="post" action="/categories/new">
  <div class="form-group">
    <label for="category">Add a New Category</label>
    <input type="text" name="category" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
  <a href="/categories">Cancel</a>
</form>
